/* =========================================== 
                    Footer
===============================================*/

#footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#contactHead
{
    padding: 5px;
    margin: 10px;
}

#contactList
{
    display: flex;
    list-style-type: none;
    color: white;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
}