
/* =========================================== 
                   Index Body
===============================================*/
#profImg
{
    height: 300px;
    width: 400px;
    float: left;
    max-width: 100%;
    height: auto;
}

#flexContainer
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px;
    margin-bottom: 10px;
    height: auto;
}

#imgContainer
{
    margin: 30px;
    float: left;
}

article
{
    font-size: large;
}

#explore
{
    padding: 10px;
    margin: 10px;
}