/* =========================================== 
                    Modal
===============================================*/

/* The Modal (background) */
.modal
{
    --gap: 15px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100 vh;
    height: 100 vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: var(--gap);
    background: rgba(0, 0, 0, 0.536);
}

.modalInner
{
    background: #ffffff;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 4px;
}

.modalTop
{
    display: flex;
    align-items: center;
    background-color: #eeeeee;
}