/* =========================================== 
                Portfolio Body
===============================================*/

#mainContent
{
    padding: 10px;
}

#modalOrientation
{
    display: flex;
    padding: 50px; 
    flex-wrap: wrap;
    flex-direction: row;
}

article
{
    font-size: large;
}

#mainContainer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3em;
    margin-bottom:200px;
}

#projectsContainer
{
    background-color: rgb(32, 82, 149);
    width: 100%
}

#certContainer
{
    background-color: rgb(32, 82, 149);
}

#skillsContainer
{
   display: flex;
   flex-direction: row;
   justify-content: left;
}

#java
{
    flex-wrap: wrap;
}

#git
{
}