/* =========================================== 
                Portfolio Body
===============================================*/

#mainContent
{
    padding: 10px;
}

#modalOrientation
{
    display: flex;
    padding: 50px; 
    flex-wrap: wrap;
    gap: 3em;
    flex-direction: row;
}

article
{
    font-size: large;
}

#projectsContainer
{
    background-color: rgb(32, 82, 149);
}

#certContainer
{
    background-color: rgb(32, 82, 149);
}

#skillsContainer
{
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

#java
{
    float: inline-start;
}

#git
{
    
}