/* =========================================== 
                Portfolio Body
===============================================*/

.mainContent
{
    padding: 10px;
}

#modalOrientation
{
    display: flex;
    padding: 50px; 
    flex-wrap: wrap;
    gap: 3em;
    flex-direction: row;
}

article
{
    font-size: large;
}